<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>GetUser</servlet-name>
  	<display-name>GetUser</display-name>
  	<description></description>
  	<servlet-class>ws.GetUser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SignUp</servlet-name>
  	<display-name>SignUp</display-name>
  	<description></description>
  	<servlet-class>ws.SignUp</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CheckConnectivity</servlet-name>
  	<display-name>CheckConnectivity</display-name>
  	<description></description>
  	<servlet-class>ws.CheckConnectivity</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetDeportista</servlet-name>
  	<display-name>GetDeportista</display-name>
  	<description></description>
  	<servlet-class>ws.GetDeportista</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetEventosByDate</servlet-name>
  	<display-name>GetEventosByDate</display-name>
  	<description></description>
  	<servlet-class>ws.GetEventosByDate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetEventosDisciplina</servlet-name>
  	<display-name>GetEventosDisciplina</display-name>
  	<description></description>
  	<servlet-class>ws.GetEventosDisciplina</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BuyTicket</servlet-name>
  	<display-name>BuyTicket</display-name>
  	<description></description>
  	<servlet-class>ws.BuyTicket</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description></description>
  	<servlet-class>ws.Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetShoppingHistory</servlet-name>
  	<display-name>GetShoppingHistory</display-name>
  	<description></description>
  	<servlet-class>ws.GetShoppingHistory</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetDeportistasEvento</servlet-name>
  	<display-name>GetDeportistasEvento</display-name>
  	<description></description>
  	<servlet-class>ws.GetDeportistasEvento</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetUser</servlet-name>
  	<url-pattern>/GetUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SignUp</servlet-name>
  	<url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CheckConnectivity</servlet-name>
  	<url-pattern>/CheckConnectivity</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetDeportista</servlet-name>
  	<url-pattern>/GetDeportista</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetEventosByDate</servlet-name>
  	<url-pattern>/GetEventosByDate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetEventosDisciplina</servlet-name>
  	<url-pattern>/GetEventosDisciplina</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BuyTicket</servlet-name>
  	<url-pattern>/BuyTicket</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetShoppingHistory</servlet-name>
  	<url-pattern>/GetShoppingHistory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetDeportistasEvento</servlet-name>
  	<url-pattern>/GetDeportistasEvento</url-pattern>
  </servlet-mapping>
</web-app>
